{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->
{% block content %}
<div class="page-header" style="text-align: center;">
    <div class="common-header">
        <h1>Welcome To Pitches</h>
    </div>
    <div class="container">
        <a href="{{url_for('main.new_Pitch')}}" class="btn btn-center">New pitch</a> 
        <div>
            <div class="well well-lg" style="text-align: center;">
                <h3>Interviews Pitches</h3>
                <hr>
                <p>Far and away the best prize that life offers
                    is the chance to work hard at work worth doing.</p>
                    <P>The most valuable of all talents is that of never using two words when one will do</P>
                    <a href="{{url_for('main.interview_pitches')}}" class="btn btn-info btn-center -center">Click to view</a>
            </div>
        </div>
        <div class style="text-align: center;">
            <div class="well well-lg">
                <h3>Products Pitches</h3>
                <hr>
                <p>You’ve got to start with the customer experience and work back toward the technology – not the other way around.</p>
                <p>When the product is right, you don’t have to be a great Marketer.</p>
                <a href="{{url_for('main.products_pitches')}}" class="btn btn-info btn-center -center">Click to view</a>
            </div>
        </div>
        <div class style="text-align: center;">
            <div class="well well-lg">
                <h3>Promotion Pitches</h3>
                <hr>
                <p>If opportunity doesn’t knock, build a door.</p>
                <p>A successful career will no longer be about promotion. It will be about mastery.</p>
                <a href="{{url_for('main.promotion_pitches')}}" class="btn btn-info btn-center -center">Click to view</a>
            </div>
        </div>
    </div>
</div>

{% endblock%}
